body{
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-image: url(../media/food/rotterdam\ landscape.png);
   background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
   width: 100vw;
   height: 100vh;
  
    
}
#start-screen{

}

#player {
    background-image: url(../media/food/santa.gif);
    position:absolute;
    background-size: contain;
    background-repeat: no-repeat;
  
}
.obstacle{

}

.obstacle.harmful{
    background-image: url(../media/food/sambal.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

}

.obstacle.helpful {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
     


}

#lives {
    font-size:5vw;
    
    
}

#game-over{

    text-align: center; 
    background-color: brown; 

}