body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(../media/food/rotterdam\ landscape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;

    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;

}

#start-game {
    text-align: center;

}

#player {
    background-image: url(../media/food/santa.gif);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

}

.obstacle {}

.obstacle.harmful {
    background-image: url(../media/food/sambal.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

}

.obstacle.helpful {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

}

#lives {
    font-size: 5vw;
    font-weight: bolder;
    color: white;
    position: absolute;

}


#score {
    font-size: 5vw;
    font-weight: bolder;
    color: white;
    position: absolute;
    right: 0vw;
}


#game-over {

    text-align: center;
}

#back-start-button {
    background-color: lightcoral;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;


}

#play-again-button {

    background-color: lightgreen;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;

}

#h2-game-over {

    background-color: rgba(255, 255, 255, 0.137);
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;

}

#logo {
    display: block;
    margin: auto;
    width: auto;
    height: 30vw;
    max-height: 30vh;
}

#h1-start {
    background-color: rgba(255, 255, 255, 0.137);
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
}

#score-end {
    font-size: 5vw;
    font-weight: bolder;
    color: white;
}